.content
  .notification(
      ng-class="vm.showError?'is-danger':'is-warning'"
      ng-show="vm.showDialog && vm.invalidFiles && vm.invalidFiles.length")
    button.delete(ng-click="vm.showDialog=false") &nbsp;
    div 
      p
        | Problems with 
        span(ng-hide="vm.showError") few
        | file(s) selected : 

      ul
        li(ng-repeat="file in vm.invalidFiles")
          p {{file.file.name}} : {{file.validity.reason}}

      p(ng-hide="vm.showError") You can continue uploading the rest of the files or reselect
