.content
  table.table.is-striped.is-bordered.is-narrow
    thead
      tr
        th
          label(ng-click="vm.sortFileByNames()" ) File Name
          .icon.is-small( ng-show="vm.sort.name==='desc'")
            i.fa.fa-sort-alpha-desc
          .icon.is-small(ng-show="vm.sort.name==='asc'" )
            i.fa.fa-sort-alpha-asc
        th(ng-click="vm.sortFileByDate()") 
          label Last Modified
          .icon.is-small( ng-show="vm.sort.lastModified==='desc'")
            i.fa.fa-sort-amount-desc
          .icon.is-small(ng-show="vm.sort.lastModified==='asc'" )
            i.fa.fa-sort-amount-asc
        th(ng-click="vm.sortFileBySize()" )
          label Size
          .icon.is-small( ng-show="vm.sort.size==='desc'")
            i.fa.fa-sort-amount-desc
          .icon.is-small(ng-show="vm.sort.size==='asc'" )
            i.fa.fa-sort-amount-asc
    tbody
      tr(ng-repeat="file in vm.files")
        td(ng-hide="file.folder")
          span.icon.is-small
            i.fa.fa-file-o
          | {{file.name}}
        td(ng-show="file.folder")
          span.icon.is-small
            i.fa.fa-folder-open-o
          a(ng-click="vm.setRoot(file)"){{file.name}}
        td {{file.lastModified | date : medium}}
        td {{file.size | filesize}}
