section.hero.is-info.is-bold
  .hero-head
    .container
      nav.nav
        .nav-left
          h2.nav-item AWS S3 Client
        .nav-menu.nav-right
          .nav-item
            a.has-icon.has-icon-right(ng-click="" ng-href="") Upload
              span.icon
                i.fa.fa-cloud-upload
          .nav-item
            a.has-icon.has-icon-right(ng-click="" ng-href="") 
              | File List
              span.icon
                i.fa.fa-table
section.section
  .container
    files
.modal(ng-class="{'is-active': vm.showFileUpload}")
  .modal-background
  .modal-container
    .modal-content
    button.modal-close(ng-click="vm.showFileUpload=false")

